version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    cooldown:
      default-days: 7

  - package-ecosystem: "uv"
    directory: "/"
    exclude-paths:
      - requirements.uvmirror
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "04:00"
      timezone: "Europe/London"
    allow:
      - dependency-type: "all"  # include transitive dependencies
    cooldown:
      default-days: 7
    groups:
      production-dependencies:
        dependency-type: "production"
      development-dependencies:
        dependency-type: "development"
