---
name: CI

env:
  IMAGE_NAME: bennettbot
  PUBLIC_IMAGE_NAME: ghcr.io/bennettoxford/bennettbot
  REGISTRY: ghcr.io
  SSH_AUTH_SOCK: /tmp/agent.sock

on:
  push:
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Check formatting, linting and import sorting
        run: just check

  test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv
      - name: Run tests
        run: |
          just test

  docker-check:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
      - name: Check formatting, linting and import sorting on docker
        run: just docker/check

  docker-test:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
      - name: Run tests in docker
        run: just docker/test

  deploy:
    needs: [check, test, docker-check, docker-test]

    runs-on: ubuntu-24.04

    permissions:
      contents: read
      packages: write

    if: github.ref == 'refs/heads/main'

    concurrency: deploy-production

    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true

      - name: Build docker image
        run: |
            just docker/build prod

      - name: Publish docker image
        run: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login "$REGISTRY" -u ${{ github.actor }} --password-stdin
            docker tag "$IMAGE_NAME" "$PUBLIC_IMAGE_NAME:latest"
            docker push "$PUBLIC_IMAGE_NAME:latest"
            # dump the full local container metadata into the logs in case its useful
            docker inspect "$PUBLIC_IMAGE_NAME:latest"

      - name: Deploy image
        run: |
            set -eu
            ssh-agent -a "$SSH_AUTH_SOCK" > /dev/null
            ssh-add - <<< "${{ secrets.DOKKU3_DEPLOY_SSH_KEY }}"
            # grep for the fully qualified name
            SHA=$(docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest" | grep --fixed-strings "$PUBLIC_IMAGE_NAME")
            # Fail if we don't find it, and print the output of the command before grepping
            if [ -z "$SHA" ]; then
              echo "$SHA is empty"
              docker inspect --format='{{join .RepoDigests "\n"}}' "$PUBLIC_IMAGE_NAME:latest"
              exit 1
            fi
            echo "Deploying $SHA to dokku3"
            ssh -o "UserKnownHostsFile=/dev/null" -o "StrictHostKeyChecking=no" dokku@dokku3.ebmdatalab.net git:from-image bennettbot "$SHA"
