---
name: Update uvmirror file

permissions:
  contents: write

env:
 BRANCH_NAME: ${{ github.head_ref || github.ref_name }}

on:

  push:
    exclude-branches: main
  pull_request:
  workflow_dispatch:

jobs:
  update-uvmirror:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/create-github-app-token@v2
        id: generate-token
        with:
          app-id: ${{ vars.CREATE_PR_APP_ID }}
          private-key: ${{ secrets.CREATE_PR_APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6
        with:
          token: ${{ steps.generate-token.outputs.token }}

      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv

      - name: Ensure requirements.uvmirror is consistent with uv.lock
        run: just uvmirror

      - id: check_for_changes
        run: echo "changed=$(git diff -s --exit-code requirements.uvmirror || echo 1)" >> "$GITHUB_OUTPUT"

      - name: Commit uvmirror changes
        if: ${{ steps.check_for_changes.outputs.changed }}
        env:
          GITHUB_TOKEN: ${{ steps.generate-token.outputs.token }}
        run: |
          git add requirements.uvmirror
          git -c user.name="opensafely-github-bot" -c user.email=opensafely-github-bot@users.noreply.github.com commit -m "Update uvmirror file"
          git push origin ${{ env.BRANCH_NAME }}
